@inherits LayoutComponentBase
@inject IStringLocalizer<App> Loc

<PageTitle>Dnd Cards</PageTitle>

<div class="page">
    <main>
        <RadzenLayout>
            <RadzenHeader>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                    <RadzenSidebarToggle Click="@ToggleSidebar" />
                    <RadzenLabel Text="@Loc[nameof(Resources.App.DndCardsHeader)]" />
                </RadzenStack>
            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@_isSidebarExpanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="@Loc[nameof(Resources.App.CardBuilder)]" Icon="create" Path="cardBuilder" />
                    <RadzenPanelMenuItem Text="@Loc[nameof(Resources.App.Themes)]" Icon="color_lens" Path="themes" />
                </RadzenPanelMenu>
            </RadzenSidebar>
            <RadzenBody>
                <div class="rz-p-4">
                    @Body
                </div>
            </RadzenBody>
        </RadzenLayout>
    </main>
</div>

@code {
    private bool _isSidebarExpanded = true;

    private void ToggleSidebar()
    {
        _isSidebarExpanded = !_isSidebarExpanded;
    }
}
